<div class="container box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{data.thumbnail}}" alt="sas">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title: </strong>{{data.title}}</li>
          <li><strong>Category: </strong>{{data.category}}</li>
          <li><strong>Description: </strong>{{data.description}}</li>
          <li><strong>Rate: </strong>{{data.rating}}</li>
          <li><strong>Count: </strong>{{data.stock}}</li>
          <li><strong>Price: </strong>{{data.price}} $</li>
          <li><strong>Discount: </strong>{{data.discountPercentage}} %</li>
        </ul>
      </div>
      <div class="cart mt-4 align-items-center">
        <button class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button>
      </div>
    </div>
  </div>
</div>
