
header {
  background-color: #f90;
}

.form-control {
  border-radius: 10px;
  width: 350px;
  height: 42px;
  margin-left: 200px;
}

/* .search-icon {
  position: absolute;
  z-index: 2;
  right: 38%;
  top: 22px;
} */

header .btn {
  margin-left: 10px;
}

