
<header>
  <div class="container navbar navbar-light ">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px; color: #fff;" class="fas fa-shipping-fast" routerLink="/products">&nbsp;</i>
      <strong style="font-size: 30px;" routerLink="/products">Store</strong>
      <div class="form-group">
        <input type="text" class="form-control" (keyup)="search($event)" placeholder="Search Products">
      </div>
      <!-- <span class="fa fa-search search-icon"></span> -->
    </div>

    <div>
      <button type="button" class="btn btn-outline-light" routerLink="/products">Products</button>
      <button type="button" class="btn btn-outline-light" routerLink="/addproduct">Admin</button>
      <button type="button" class="btn btn-outline-danger" routerLink="/login">Logout</button>
      <button class="btn ">
        <i style="font-size: 40px; color: #fff;" class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </div>
</header>